ivancloudvm@gmail.com

# Titanic using Naive-Bayes

In [43]:
# Data wrangling
import pandas as pd
import numpy as np
from collections import Counter
import datetime as dt
import re

# Data preprocessing
from sklearn.preprocessing import StandardScaler


# Data visualisation
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
print(plt.style.available)
plt.style.use('fivethirtyeight')

# Machine learning models
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

#Cluster model
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

# Model evaluation
from sklearn.model_selection import cross_val_score

# Hyperparameter tuning
from sklearn.model_selection import GridSearchCV

# Remove warnings
import warnings
warnings.filterwarnings('ignore')

print("Libraries loaded")

['Solarize_Light2', '_classic_test_patch', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark', 'seaborn-dark-palette', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'tableau-colorblind10']
Libraries loaded

In [44]:
eval_data = pd.read_csv("../input/titanic/test.csv")
train_data = pd.read_csv("../input/titanic/train.csv")
#total_data = pd.concat([test_data,train_data])

print(f"eval_data shape: {eval_data.shape}")
print(f"train_data shape: {train_data.shape}")
#print(f"total_data shape: {total_data.shape}")
train_data.head()

eval_data shape: (418, 11)
train_data shape: (891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [45]:
df = train_data[["Pclass","Sex","Age","Fare","Survived"]]
df_eval = eval_data[["Pclass","Sex","Age","Fare"]]

df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [46]:
target = df.Survived
inputs = df.drop("Survived", axis= 1)

In [47]:
dummies = pd.get_dummies(inputs.Sex)
dummies_eval = pd.get_dummies(df_eval.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [48]:
inputs = pd.concat([inputs,dummies], axis = 1)
df_eval = pd.concat([df_eval, dummies_eval], axis= 1) 
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [49]:
inputs = inputs.drop('Sex', axis = 1)
df_eval = df_eval.drop('Sex', axis = 1)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [50]:
inputs.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [51]:
df_eval.isnull().sum()

Pclass     0
Age       86
Fare       1
female     0
male       0
dtype: int64

In [52]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
df_eval.Age = df_eval.Age.fillna(df_eval.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [53]:
df_eval.head()

   Pclass   Age     Fare  female  male
0       3  34.5   7.8292       0     1
1       3  47.0   7.0000       1     0
2       2  62.0   9.6875       0     1
3       3  27.0   8.6625       0     1
4       3  22.0  12.2875       1     0

In [54]:
len(inputs)

891

In [55]:
len(df_eval)

418

In [69]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.2, random_state = 1)

# Model

In [77]:
model = GaussianNB()

model.fit(X_train, y_train)

accuracy = round(model.score(X_test, y_test),2)

print("Accuracy model: ", accuracy)

Accuracy model:  0.78

Comparamos y_test con la prediccion del modelo en X_test:

In [105]:
y_test

862    1
223    0
84     1
680    0
535    1
      ..
796    1
815    0
629    0
421    0
448    1
Name: Survived, Length: 179, dtype: int64

In [115]:
y_test_df = pd.DataFrame(y_test)

y_test_df.reset_index(drop=True, inplace = True)

y_test_df

     Survived
0           1
1           0
2           1
3           0
4           1
..        ...
174         1
175         0
176         0
177         0
178         1

[179 rows x 1 columns]

In [94]:
predict_series = pd.Series(model.predict(X_test), name = "Predictions")

predict_series

0      1
1      0
2      1
3      1
4      1
      ..
174    1
175    0
176    0
177    0
178    1
Name: Predictions, Length: 179, dtype: int64

In [116]:
predict_df = pd.DataFrame(predict_series)
predict_df.reset_index(drop=True, inplace = True)

predict_df

     Predictions
0              1
1              0
2              1
3              1
4              1
..           ...
174            1
175            0
176            0
177            0
178            1

[179 rows x 1 columns]

In [117]:
#We can see the probabilities for each row:
array_prob = model.predict_proba(X_test)

array_prob.tolist()

[[0.0064147143818383085, 0.9935852856181618],
 [0.9905574724354776, 0.009442527564522579],
 [0.021623351166609902, 0.9783766488333907],
 [0.06341095728471584, 0.9365890427152844],
 [0.013750342480922243, 0.9862496575190781],
 [0.9890773506235213, 0.010922649376478893],
 [0.9768982266366406, 0.023101773363358977],
 [0.004371480302949657, 0.9956285196970505],
 [0.6915142266150291, 0.3084857733849716],
 [0.06308945191087975, 0.9369105480891198],
 [0.9899360258683005, 0.010063974131699696],
 [0.06061564008907778, 0.9393843599109218],
 [0.8440962330115618, 0.15590376698843772],
 [0.9778507691590587, 0.022149230840940774],
 [0.06337078293298795, 0.9366292170670123],
 [0.9140822771238417, 0.08591772287615858],
 [0.9829396479345628, 0.017060352065437212],
 [0.9896813074089971, 0.01031869259100373],
 [0.9908410038810194, 0.009158996118981366],
 [0.025079075416820418, 0.9749209245831796],
 [0.9907304471938407, 0.009269552806158751],
 [0.9900797894356007, 0.009920210564398953],
 [0.004288982627295822, 0.9957110173727036],
 [0.9087533400538208, 0.09124665994617875],
 [0.04603589661732307, 0.9539641033826771],
 [0.99025851389026, 0.009741486109740068],
 [9.99676372080883e-12, 0.9999999999900027],
 [0.02771793549097392, 0.9722820645090253],
 [0.9768328901468487, 0.023167109853151874],
 [1.1594899628712642e-05, 0.9999884051003716],
 [0.056544186203686654, 0.9434558137963136],
 [0.9120174503610521, 0.08798254963894751],
 [0.05713311941337007, 0.9428668805866295],
 [0.05967383912468706, 0.9403261608753128],
 [0.9906833022184918, 0.009316697781508747],
 [0.027593144115081493, 0.9724068558849179],
 [0.9181252124514377, 0.08187478754856167],
 [0.9905467521793968, 0.009453247820602967],
 [0.8529410750821519, 0.14705892491784817],
 [0.9888075514882599, 0.011192448511740376],
 [0.061478806476639815, 0.9385211935233595],
 [0.06161412151383543, 0.9383858784861642],
 [0.004023193922232806, 0.9959768060777682],
 [0.9104837663883232, 0.0895162336116777],
 [0.9322701405764825, 0.06772985942351711],
 [0.9908194808918351, 0.009180519108165057],
 [0.9774456467974524, 0.022554353202546815],
 [0.9783449399370403, 0.02165506006296065],
 [1.157249687726484e-34, 1.0],
 [0.9707689951699009, 0.029231004830099813],
 [0.9777550696377397, 0.022244930362259493],
 [0.024037432869425515, 0.9759625671305742],
 [0.9731768727484921, 0.02682312725150752],
 [0.9785439703196965, 0.021456029680303967],
 [0.9905076805144554, 0.00949231948554466],
 [0.05831635220350156, 0.9416836477964986],
 [0.9777290875172652, 0.022270912482734377],
 [0.8629739457905095, 0.13702605420949038],
 [0.9894656295990701, 0.010534370400930691],
 [0.053984908993773256, 0.946015091006227],
 [0.021850562591399482, 0.9781494374085998],
 [0.9905450536265672, 0.009454946373433444],
 [0.9736688646870812, 0.02633113531291869],
 [0.9127841716839162, 0.08721582831608385],
 [0.8647140219098663, 0.13528597809013332],
 [0.0627022636760762, 0.937297736323924],
 [0.9887442023783256, 0.011255797621673974],
 [0.9899161259959276, 0.010083874004072773],
 [0.027108587146275086, 0.9728914128537248],
 [0.9759169216247218, 0.02408307837527805],
 [0.9891710451795769, 0.010828954820423143],
 [0.9825752724581049, 0.017424727541895425],
 [0.7127339497005288, 0.2872660502994718],
 [0.9905574724354776, 0.009442527564522579],
 [0.02017760823083633, 0.979822391769163],
 [0.9728442146845534, 0.027155785315447246],
 [0.004501872240976528, 0.9954981277590241],
 [0.9905549851800602, 0.009445014819940001],
 [0.87951480027127, 0.1204851997287297],
 [0.0009015749811761396, 0.9990984250188232],
 [0.980826982057236, 0.019173017942764086],
 [0.9719312193933243, 0.02806878060667645],
 [0.9905599636819034, 0.009440036318097159],
 [0.9907864685982577, 0.009213531401742605],
 [0.02502861939616012, 0.9749713806038397],
 [0.9905075620830501, 0.00949243791694939],
 [0.9905599636819034, 0.009440036318097159],
 [0.9905449668744187, 0.009455033125581483],
 [0.0289725209721447, 0.9710274790278548],
 [0.02690810134948728, 0.9730918986505135],
 [0.91094548556254, 0.08905451443745988],
 [0.9905690401525598, 0.009430959847440846],
 [0.989933221659712, 0.010066778340288398],
 [0.06337078293298795, 0.9366292170670123],
 [0.9905764031852262, 0.009423596814773155],
 [0.9148200897685516, 0.08517991023144837],
 [0.9860042154789138, 0.01399578452108597],
 [0.06330728803228376, 0.9366927119677153],
 [0.9885138292481612, 0.011486170751838313],
 [0.9905574724354776, 0.009442527564522579],
 [0.8999203420644571, 0.1000796579355428],
 [0.9209484477437552, 0.07905155225624436],
 [0.9905176449870619, 0.009482355012937182],
 [0.051124653795814615, 0.9488753462041853],
 [0.0027727568900815973, 0.9972272431099187],
 [0.9895675203296851, 0.010432479670315001],
 [0.9904911222749867, 0.00950887772501425],
 [0.990488263526643, 0.00951173647335688],
 [0.9769641861840709, 0.023035813815928702],
 [0.9905772467852464, 0.009422753214753006],
 [0.8418506604583741, 0.15814933954162583],
 [0.9893105678247238, 0.010689432175276046],
 [0.9758959780645935, 0.02410402193540603],
 [0.9899338405401005, 0.010066159459899577],
 [0.9755186658351692, 0.02448133416483048],
 [0.9907778353458351, 0.009222164654164986],
 [0.9769722958910633, 0.023027704108936044],
 [0.8731100495772474, 0.12688995042275222],
 [0.026563170473245457, 0.9734368295267553],
 [0.06414868079465531, 0.9358513192053456],
 [0.025301364043902534, 0.974698635956097],
 [0.6819816622200523, 0.31801833777994715],
 [0.9905574724354776, 0.009442527564522579],
 [0.9724337715961805, 0.027566228403819566],
 [3.769868030313504e-06, 0.9999962301319704],
 [0.005490373808538751, 0.9945096261914614],
 [0.027180518589636184, 0.9728194814103645],
 [0.056401625988330685, 0.94359837401167],
 [0.9719312193933243, 0.02806878060667645],
 [0.9905549851800602, 0.009445014819940001],
 [0.9897524320449177, 0.010247567955082708],
 [0.9903516659377027, 0.009648334062296808],
 [0.024766142759290972, 0.9752338572407098],
 [0.7376134883077723, 0.26238651169222804],
 [0.06445864943898183, 0.9355413505610187],
 [1.4293777768426053e-05, 0.999985706222232],
 [0.0013157121139244065, 0.9986842878860754],
 [0.9640814900645005, 0.03591850993549881],
 [0.9881565327101132, 0.011843467289887574],
 [0.05753163292504003, 0.9424683670749595],
 [1.2306938664432937e-05, 0.999987693061335],
 [0.9902466412298193, 0.009753358770181336],
 [0.00011563532499387812, 0.9998843646750061],
 [0.06340238303905228, 0.9365976169609475],
 [0.9905554207630229, 0.009444579236977297],
 [0.05055988535967879, 0.9494401146403209],
 [0.9781369497441086, 0.021863050255891654],
 [0.9905599636819034, 0.009440036318097159],
 [0.05860012315165524, 0.9413998768483453],
 [0.9893245906213731, 0.010675409378626518],
 [0.027086808665113104, 0.9729131913348876],
 [0.9891455465504144, 0.01085445344958478],
 [0.9748275301117716, 0.02517246988822776],
 [0.05639914817029128, 0.9436008518297081],
 [0.9817038100214999, 0.01829618997849972],
 [0.9907369459039302, 0.009263054096069482],
 [0.9893110511686987, 0.010688948831301037],
 [0.9905601803088451, 0.009439819691155035],
 [0.02678735179063142, 0.9732126482093676],
 [0.9755186658351692, 0.02448133416483048],
 [0.9768828041202033, 0.02311719587979704],
 [0.9903955767424943, 0.009604423257506222],
 [0.055173916915490784, 0.9448260830845095],
 [0.9044587251702201, 0.09554127482977946],
 [0.9901121697442826, 0.009887830255717314],
 [0.046785762281910954, 0.9532142377180886],
 [0.023548671675043327, 0.9764513283249571],
 [0.9817038100214999, 0.01829618997849972],
 [0.987468293719568, 0.012531706280432374],
 [0.21935196867786003, 0.7806480313221404],
 [7.465733786445512e-38, 1.0],
 [0.023742419094369766, 0.9762575809056311],
 [0.001203735366933037, 0.9987962646330677],
 [0.9881920719930883, 0.01180792800691163],
 [0.006287273958482196, 0.9937127260415183],
 [0.9189424720174514, 0.08105752798254912],
 [0.9905546921119001, 0.009445307888100078],
 [0.9890749440666049, 0.010925055933394549],
 [0.030819499041882643, 0.9691805009581174]]

In [118]:
array_prob_series = pd.Series(array_prob.tolist(), name = "Prob")

array_prob_series

0      [0.0064147143818383085, 0.9935852856181618]
1       [0.9905574724354776, 0.009442527564522579]
2       [0.021623351166609902, 0.9783766488333907]
3        [0.06341095728471584, 0.9365890427152844]
4       [0.013750342480922243, 0.9862496575190781]
                          ...
174     [0.006287273958482196, 0.9937127260415183]
175      [0.9189424720174514, 0.08105752798254912]
176     [0.9905546921119001, 0.009445307888100078]
177     [0.9890749440666049, 0.010925055933394549]
178     [0.030819499041882643, 0.9691805009581174]
Name: Prob, Length: 179, dtype: object

In [119]:
prob_df = pd.DataFrame(array_prob_series)

prob_df

                                            Prob
0    [0.0064147143818383085, 0.9935852856181618]
1     [0.9905574724354776, 0.009442527564522579]
2     [0.021623351166609902, 0.9783766488333907]
3      [0.06341095728471584, 0.9365890427152844]
4     [0.013750342480922243, 0.9862496575190781]
..                                           ...
174   [0.006287273958482196, 0.9937127260415183]
175    [0.9189424720174514, 0.08105752798254912]
176   [0.9905546921119001, 0.009445307888100078]
177   [0.9890749440666049, 0.010925055933394549]
178   [0.030819499041882643, 0.9691805009581174]

[179 rows x 1 columns]

In [120]:
df_tot = pd.concat([prob_df,y_test_df,predict_df])

df_tot.head()

                                          Prob  Survived  Predictions
0  [0.0064147143818383085, 0.9935852856181618]       NaN          NaN
1   [0.9905574724354776, 0.009442527564522579]       NaN          NaN
2   [0.021623351166609902, 0.9783766488333907]       NaN          NaN
3    [0.06341095728471584, 0.9365890427152844]       NaN          NaN
4   [0.013750342480922243, 0.9862496575190781]       NaN          NaN

In [121]:
df_tot.isnull().sum()

Prob           358
Survived       358
Predictions    358
dtype: int64

In [ ]:
df = pd.DataFrame(my_array, columns = ['Column_A','Column_B','Column_C'])